.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    background-color: #34393d;
    height: 60px;
}

nav {
    background-color: brown;
    position: relative;
    top: 5px;
    height: 50px;
    width: 600px;
}

main {
    background-color: seagreen;
    height: 700px;
}

footer {
    background-color: royalblue;
    height: 350px;
}

.fa-bars {
    color:white;
    font-size: 44px;
    position: relative;
    left: 960px;
    top: -42px;
}

@media (min-width: 640px) {
    .fa-bars {
        visibility: hidden;
    }
}