* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    left: 0;
}

header {
    background-color: rgb(52, 57, 61);
    overflow: hidden;
}

.nav-head {
    height: 48px;
    float: left;
    position: relative;
    padding-left: 5vw;
}

.nav-head p {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: rgb(235, 235, 235);
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.burg {
    background-color: rgb(32, 37, 41);
    cursor: pointer;
    border: none !important;
}

.fa-bars {
    color: rgb(235, 235, 235);
    font-size: 22px;
    padding: 13px;
}

.nav-mobi {
    background-color: rgb(52, 57, 61);
    text-align: right;
} 

.nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(52, 57, 61);
    z-index: 1;
}

.column {
    float: right;
    width: 80%;
    height: 250px;
    padding: 10px;
    background-color: rgb(52, 57, 61);
}

.column a {
    float: none;
    color: rgb(235, 235, 235);
    font-size: 14px;
    font-family: 'Open Sans';
    text-decoration: none;
    text-align: right;
    padding: 10px;
    margin: 6px;
    display: block;
}

.column a:hover {
    background-color: rgb(94, 94, 94);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.burg:focus ~ .nav-menu,
.burg:active ~ .nav-menu,
.burg:hover .nav-menu { 
    display: block; 
}

.nav-pc {
    height: 66px;
    margin-left: 2em;
    position: relative;
}

.nav-pc .links {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.links a {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: rgb(235, 235, 235);
    padding: 14px 16px;
    text-decoration: none;
}

.nav-pc a:hover {
    background-color: rgb(94, 94, 94);
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
}

.big-link {
    background: linear-gradient(to right, rgb(21, 176, 195), rgb(8,144,168));
    padding: 16% 10%;
}

.big-link-head a {
    font-size: 6.5vw;
    font-weight: 600;
    font-family: 'Open Sans';
    color: white;
    text-decoration: none;
}

.big-link .link {
    display: inline-block;
    margin-top: 0;
    position: relative;
}

.link-arrow {
    display: block;
    margin-top: 5%;
    width: 88.5%;
    height: 30px;
}

.link-arrow .text {
    float: left;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 3vw;
    color: rgb(169, 212, 222);
    text-decoration: none;
}

.arrow-icon {
    float: right;
    font-size: 3vw;
    color: white;
}

.rhood div {
    overflow: hidden;
    height: 20vw;
    position: relative;
}

.rhood-text {
    float: left;
    padding-left: 10.5%;
    background-color: rgb(39,33,44);
    width: 80%;
}

.rhood-text span {
    font-size: 3vw;
    color: rgb(146,130,160);
    font-family: 'Open Sans';
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.rhood-arrow {
    float: left;
    background-color: rgb(188,49,131);
    width: 20%;
}

.rhood-arrow i {
    font-size: 4.5vw;
    color: white;
    margin: 0;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-color: rgb(235, 235, 235);
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
    height: 500px;
}

@media (min-width: 980px) {
    nav {
        height: 70px;
    }

    .nav-mobi {
        display: none;
    }

    .nav-pc {
        display: block;
    }
}

@media (min-width: 1216px) {
    .big-link-head a {
        font-size: 79px;
    }

    .link-arrow {
        width: 862px;
    }

    .big-link-head {
        width: 875px;
    }

    .rhood div {
        height: 243px;
    }
    .link-arrow .text, 
    .arrow-icon, 
    .rhood-text span {
        font-size: 37px;
    }

    .rhood-arrow i {
        font-size: 55px;
    }
}

@media (max-width: 980px) {
    .nav-pc {
        display: none;
    }

    .nav-mobi {
        display: block;
    }
}