* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    left: 0;
}

header {
    background-color: rgb(52, 57, 61);
    overflow: hidden;
}

.nav-head {
    height: 66px;
    float: left;
    position: relative;
    padding-left: 15px;
}

.nav-head p {
    font-size: 17px;
    font-family: 'Open Sans';
    color: rgb(235, 235, 235);
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.burg {
    background-color: rgb(32, 37, 41);
    cursor: pointer;
    border: none !important;
}

.fa-solid, .fa-bars {
    color: rgb(235, 235, 235);
    font-size: 26px;
    padding: 20px;
}

.nav-mobi {
    background-color: rgb(52, 57, 61);
    text-align: right;
} 

.nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(52, 57, 61);
    z-index: 1;
}

.column {
    float: right;
    width: 80%;
    height: 230px;
    padding: 10px;
    background-color: rgb(52, 57, 61);
}

.column a {
    float: none;
    color: rgb(235, 235, 235);
    font-size: 14px;
    font-family: 'Open Sans';
    text-decoration: none;
    text-align: right;
    padding: 10px;
    margin: 6px;
    display: block;
}

.column a:hover {
    background-color: rgb(94, 94, 94);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.burg:focus ~ .nav-menu,
.burg:active ~ .nav-menu,
.burg:hover .nav-menu { 
    display: block; 
}


.nav-pc {
    float: left;
    margin-left: 2em;
}

.nav-pc a {
    float: left;
    font-size: 14px;
    font-family: 'Open Sans';
    margin: 6px;
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-pc a:hover {
    background-color: rgb(94, 94, 94);
}

main {
    background-color: rgb(10, 153, 176);
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
    height: 700px;
}

footer {
    background-color: rgb(235, 235, 235);
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
    height: 350px;
}

@media (min-width: 980px) {
    nav {
        height: 70px;
    }

    .nav-mobi {
        display: none;
    }

    .nav-pc {
        display: block;
    }
}

@media (max-width: 980px) {
    .nav-pc {
        display: none;
    }

    .nav-mobi {
        display: block;
    }
}